body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Courier New', 'Courier';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);

}

button{
  cursor: pointer;
}